<div class="designer full">
    <div class="container">
        <div class="header">
            <div class="left">
                表单设计器
            </div>
            <div class="right">
                <!-- <a-button type="button">run</a-button> -->
            </div>
        </div>
        <div class="main">
            <div class="sidebar scroll">
                <ul class="drag-list">
                    <li class="drag-item" draggable="true" *ngFor="let item of [1,2,3,4,5,6,7,8,9,10,11,12,13]; let i=index">
                        aaa
                    </li>
                </ul>
            </div>
            <div class="content">content</div>
        </div>
        <div class="footer">footer</div>
    </div>
    <div class="aside">
        aside
    </div>
</div>