@import './bootstrap/bootstrap-root.scss';

$zindex-settable-toolbar:999;
$dsn-brand-color:$blue;
app-content {
  padding: 10px;
  display: block;
}

.designer {
  .sidebar {
    .ant-tabs-nav-list {
      width: 100%;
      .ant-tabs-tab {
        flex: auto;
        justify-content: center;
      }
    }
  }
  .aside {
    .ant-tabs-nav-list {
      width: 100%;
      .ant-tabs-tab {
        flex: auto;
        justify-content: center;
      }
    }
  }
}

.dropzone-activated {
    border: 1px solid red !important; // background-color: red ;
    // padding-bottom: 20px;
    padding: 1px;
}
.dropzone-entered:not(gridster) {
    background-color: rgba(0, 0, 0, 0.15);
    transition: all 0.25s;
}

[appSettable] {
    &.selected, &.hovering {
        // border: 2px solid $blue;
        // border: 1px solid $blue;
        outline: 1px solid $blue;
        // box-shadow: 0px 0px 10px 0px $blue;
        &>.setting-tool {
            display: block;
            @include transition();
        }
        @include transition();
    }
    .setting-tool {
        display: none;
        position: absolute;
        z-index: $zindex-settable-toolbar;
        right: 0px;
        top: 0px;
        .btn {
            font-size: 11px;
            vertical-align: top;
            border: none;
            background: $dsn-brand-color;
            height: auto;
            padding: 0px 10px;
            border-radius: 0;
            border-right: 1px solid #ffffff33
        }
    }
}